$color-white: white;
$color-black: black;
$color-light-gray: #b0b0b0;
$color-green: #6bd400;
$color-dark-green: #5CB204;
$color-very-light-gray:#ededed;
$color-gray: #9b9b9b;
$color-dark-gray: #484848;
